<div class="links">
  <h1>Links</h1>
  <br />
  <h3>Stuff By/About Me</h3>
  <ul>
    <li><a href="https://www.youtube.com/cdr255" title="My Youtube Channel"><i class="fa fa-youtube fa-fw"></i> Youtube</a></li>
    <li><a href="https://twitter.com/cdr255" title="My Twitter Feed"><i class="fa fa-twitter fa-fw"></i> Twitter</a></li>
    <li><a href="https://www.facebook.com/chrisrodprod" title="Facebook Page of Chris Rodriguez Productions"><i class="fa fa-facebook fa-fw"></i> Facebook</a></li>
    <li><a href="http://www.reddit.com/r/chrisrodprod/" title="Subreddit"><i class="fa fa-reddit fa-fw"></i> Subreddit</a></li>
    <li><a href="http://cdr255.tumblr.com/" title="Personal Tumblr"><i class="fa fa-tumblr fa-fw"></i> Tumblr</a></li>
    <li><a href="http://forgottencharacters.tumblr.com" title="Remembering those characters You might forget."><i class="fa fa-tumblr fa-fw"></i> Forgotten Characters</a></li>
    <li><a href="http://soundcloud.com/cdr255" title="Soundcloud Page"><i class="fa fa-soundcloud fa-fw"></i> Soundcloud</a></li>
    <li><a href="http://cdr255.newgrounds.com/" title="Newgrounds: The Problems of the Future, Today"><i class="fa fa-globe fa-fw"></i> Newgrounds</a></li>
    <li><a href="https://cdr255.bandcamp.com/" title="Bandcamp Page"><i class="fa fa-music fa-fw"></i> Bandcamp</a></li>
    <li><a href="https://github.com/cdr255" title="Github Profile"><i class="fa fa-github fa-fw"></i> Github</a></li>
  </ul>
  <h3>Stuff I Talk About</h3>
  <ul>
    <li><a href="http://www.slackware.com/" title="Slackware Linux, my Distro of Choice"><i class="fa fa-linux fa-fw"></i> Slackware</a></li>
    <li><a href="https://github.com/cloudhead/toto" title="Toto, the Ruby Program this Blog Runs On"><i class="fa fa-github fa-fw"></i> Toto</a></li>
    <li><a href="http://lilypond.org/" title="Lilypond, how I compose Music"><i class="fa fa-music fa-fw"></i> Lilypond</a></li>
    <li><a href="http://fluxbox.org/" title="Fluxbox, my GUI of Choice"><i class="fa fa-desktop fa-fw"></i> Fluxbox</a></li>
    <li><a href="http://www.gnu.org/software/emacs/" title="Emacs, how I do pretty much all of my work"><i class="fa fa-file-text fa-fw"></i> GNU/Emacs</a></li>
</div>
