<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml" />
    <link href='http://fonts.googleapis.com/css?family=Tangerine|Cinzel+Decorative:900|Roboto+Slab:400,100,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <title><%= title %></title>
  </head>
  <body>
    <header>
      <img src="https://s3.amazonaws.com/tumblingowl/logo.png" title="The Original Tumbling Owl, Phoebe." alt="The Tumbling Owl Logo" />
      <h1><i class="fa fa-cloud"></i>  <a href="/">Tumbling Owl</a></h1><br />
      <h4>cdr255:weblog</h4>
    </header>
    <section>
      <%= yield %> 
    </section>
    <footer>
      powered by <a href="http://cloudhead.io/toto">toto</a>
    </footer>
  </body>
</html>

